## Vectores Caracteristicos

In [1]:
%matplotlib inline
import cv2
from matplotlib import pyplot as plt
import pandas as pd
import numpy as np
import os

In [2]:
imagenes = os.listdir('../rostros_grises/')
len(imagenes)

200

In [3]:
os.getcwd()

'/home/noe/Documentos/Computacion-Grafica/6. Extraccion de Vectores'

In [4]:
def extraeVector(image):
    img = cv2.imread(image)
    cv_gray = cv2.cvtColor(img,cv2.COLOR_BGR2GRAY)
    return cv_gray.ravel()

In [21]:
arr = []
for image in imagenes:
    vec = extraeVector('../rostros_grises/'+image)
    arr.append(list(vec))

In [22]:
type(arr)

list

In [23]:
len(arr)

200

In [27]:
len(arr[2])

62500

## PCA

In [11]:
from sklearn.decomposition import PCA

In [31]:
pca = PCA(n_components=10)
principalComponentes = pca.fit_transform(arr)

In [33]:
data = pd.DataFrame(data=principalComponentes,
                   columns=["comp1","comp2","comp3","comp4","comp5",
                            "comp6","comp7","comp8","comp9","comp10"])
data.head()

,comp1,comp2,comp3,comp4,comp5,comp6,comp7,comp8,comp9,comp10
0,-52.071943,5759.436860,2090.636529,4768.108065,3128.259387,-7333.316296,-1156.958135,9351.534939,1438.055377,1706.902850
1,-9093.781683,-527.517144,1915.699014,-675.978185,623.198654,-771.249315,496.425308,2490.718228,2802.188382,196.013836
2,-2845.853141,2194.608947,-1940.474207,7132.486867,2026.157532,-2923.471556,-2906.810492,-1938.669231,2589.836640,-2450.398645
3,7593.864688,-1474.290270,-2049.300904,3353.844328,4756.201622,-3618.307632,504.669349,840.124398,-303.112514,-10.642564
4,2864.115885,-1348.012078,-1541.030801,606.217367,1229.492875,1331.444445,-3660.025342,-253.245430,63.645419,-1282.053269

In [34]:
data.shape

(200, 10)

In [35]:
data["imagen"]=imagenes
data.head()

,comp1,comp2,comp3,comp4,comp5,comp6,comp7,comp8,comp9,comp10,imagen
0,-52.071943,5759.436860,2090.636529,4768.108065,3128.259387,-7333.316296,-1156.958135,9351.534939,1438.055377,1706.902850,Ahmad_Masood_0001.jpg
1,-9093.781683,-527.517144,1915.699014,-675.978185,623.198654,-771.249315,496.425308,2490.718228,2802.188382,196.013836,Adam_Kennedy_0001.jpg
2,-2845.853141,2194.608947,-1940.474207,7132.486867,2026.157532,-2923.471556,-2906.810492,-1938.669231,2589.836640,-2450.398645,Adrien_Brody_0004.jpg
3,7593.864688,-1474.290270,-2049.300904,3353.844328,4756.201622,-3618.307632,504.669349,840.124398,-303.112514,-10.642564,Abdullah_Gul_0006.jpg
4,2864.115885,-1348.012078,-1541.030801,606.217367,1229.492875,1331.444445,-3660.025342,-253.245430,63.645419,-1282.053269,Ai_Sugiyama_0003.jpg